<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">About</a></li>
    <li><a href="{{ '/cv.html' | relative_url }}">CV</a></li>
    <li><a href="{{ '/gallery.html' | relative_url }}">Gallery</a></li>
    <li class="social-icon">
      <a href="https://scholar.google.com/citations?user=H4vZJ-QAAAAJ&hl=ko" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/assets/images/google-scholar.png' | relative_url }}" alt="Google Scholar" />
      </a>
    </li>
    <li class="social-icon">
      <a href="https://www.researchgate.net/profile/Minsu-Ko-3?ev=hdr_xprf" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/assets/images/researchgate.png' | relative_url }}" alt="ResearchGate" />
      </a>
    </li>
  </ul>
</nav>
